@import "bourbon";

$base-color: red;

/* form styles */
.form-el {
  width: 200px;
  border: 1px solid #999;
  height: 30px;
  background: #FFF;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

.input {
  border-radius: 3px;
  padding: 0 10px;
}

.btn {
  @include button;
  height: 40px;
  border-radius: 0;
}

.success {
  background: green;
  color: white;
}
