@import "bourbon";
@import "neat";
@import "vars.css.scss";

/* form styles */
.form-el {
  width: 200px;
  border: 1px solid #999;
  height: 30px;
  background: #FFF;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

.input {
  border-radius: 3px;
  padding: 0 10px;
}

.btn {
  @include button;
  height: 40px;
  border-radius: 0;
}

.success {
  background: green;
  color: white;
}

.form-container {
  margin-bottom: 20px;
}

.legend {
  color: $white;
  background-color: $blue;
  padding: 20px 10px;
  margin-bottom: 10px;

  .cto {
    top: 0;
    right: 0;
    color: $white;
    padding: 20px 10px;
    border-left: 1px solid darken($blue, 10%);
    text-decoration: none;
    cursor: pointer;

    &:hover {
      background-color: darken($blue, 10%);
    }

  }

}

.legend {
  display: block;
  width: 100%;
}

label {
  font-size: 11px;
}

input {
  padding: 10px;
  font-size: 16px;
}

.basic-group {

  &:not(:nth-child(2)) {
    border-top: 1px solid lighten($black, 80%);
    margin-top: 10px;
    padding-top: 10px;
  }

}

.item-form {
  padding: 5px 0;

  .label {
    font-size: 11px;
    width: 200px;
    display: inline-block;
    text-transform: uppercase;
  }

}

.advanced-search-button:hover {
  background-color: darken($blue, 10%);
}
