@import "bourbon";
@import "neat";

// Change the grid settings
$max-width: 800px;

.container {
  @include outer-container;

  .home-column { 
    @include span-columns(4); 
  }

  .column-3 {
    @include span-columns(3);
  }

  .column-6 {
    @include span-columns(6);
  }

  .column-9 {
    @include span-columns(9);
  }

  .column-12 {
    @include span-columns(12);
  }
}

/* variables */
$black: #000000;
$white: #FFFFFF;
$blue:  #0088CC;

/* common styles */
html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

.legend {
  display: block;
  width: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.inline-block {
  display: inline-block;
}

.btn {
  cursor: pointer;
  transition: 0.2s;
}

.btn-icon {
  color: lighten($black, 20%);;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    color: lighten($black, 40%);
  }
}

.hidden {
  display: none;
}

.width-100 {
  width: 100%;
}

input {
  padding: 10px;
  font-size: 16px;
}

.main-title {
  text-transform: uppercase;
  font-size: 1.5em;
}

.text-center {
  text-align: center;
}

.icon-column {
  width: 70px;
}

/* header */
.navbar {
  line-height: 3em;
  background: lighten($blue, 20%);
  border-bottom: 3px solid $blue;
  margin-bottom: 1em;
  color: $white;
  a {
    color: $white;
    text-decoration: none;
  }
}

.nav {
  margin-left: 10px;

  .nav-link {
    position: relative;
    display: inline-block;
    padding: 0 5px;
    text-transform: uppercase;
    font-weight: bold;
  }

}

/* dashboard */
.side-container {
  margin-bottom: 20px;
  background: lighten($black, 90%);

  .title {
    font-size: 1em;
    font-weight: normal;
    color: $white;
    background-color: lighten($black, 60%);
    padding-left: 10px;
    line-height: 40px;
  }
}

.quick-launch {
  .content {
    padding: 10px;
  }
}

.documents-list {
  .document {
    border-bottom: 1px solid lighten($black, 80%);
    line-height: 40px;
    a {
      display: block;
      padding: 0 10px;

      &:hover {
        color: lighten($black, 20%);
        background-color: lighten($black, 80%);
        text-decoration: none;
      }
    }
    &:last-child {
      border-bottom: none;
    }
  }
}



.form-container {
  margin-bottom: 20px;
}

.legend {
  color: $white;
  background-color: $blue;
  padding: 20px 10px;
  margin-bottom: 10px;
  .cto {
    top: 0;
    right: 0;
    color: $white;
    padding: 20px 10px;
    border-left: 1px solid darken($blue, 10%);
    text-decoration: none;
    cursor: pointer;
    &:hover {
      background-color: darken($blue, 10%);
    }
  }
}

label {
  font-size: 11px;
}

.basic-group {
  &:not(:nth-child(2)) {
    border-top: 1px solid lighten($black, 80%);
    margin-top: 10px;
    padding-top: 10px;
  }
}
.item-form {
  padding: 5px 0;
  .label {
    font-size: 11px;
    width: 200px;
    display: inline-block;
    text-transform: uppercase;
  }
}

.advanced-search-button:hover {
  background-color: darken($blue, 10%);
}

/* alert */
.alert {
  position: absolute;
  right: 20px;
  bottom: 0;
  background: #F7F775;
  font-size: 14px;
  color: #666;
  display: inline-block;
  padding: 0 5px 0 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  & > div,
  & > a {
    color: lighten($black, 30%);
    display: inline;
    padding-right: 5px;
    line-height: 24px;

  }

  & > a {
    font-size: 20px;
    cursor: pointer;
  }

  & > a:hover {
    color: $black;
  }
}

/* login */
.login {
  width: 350px;
  padding: 20px;
  margin: 100px auto;
}

/* tables */
.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;

  thead th {
    border-bottom: 2px solid #08C;
    padding: 10px 0;
  }

  tbody td {
    padding: 10px 0;
  }

  tbody tr:nth-child(2n+1) td {
    border-bottom: 1px solid #3BF;
  }

  tbody tr:nth-child(2n) td {
    border-bottom: 1px solid #08C;
  }

}

/* peer users group form */
.group-name {
  width: 29%;
}

ul.token-input-list-facebook {
  display: inline-table;
  padding: 6px;
  font-size: 16px;
  margin: 8px 0;
  height: 40px;
}

.group-create {
  width: 20%;
  border: 0;
  padding: 12px;
}