.hidden {
  display: none;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

hr {
  margin: 10px 0;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-top-10 {
  padding-top: 10px;
}

h1 {
  font-size: 1.5em;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 0;
  padding-bottom: 0;
}

.top-bar {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.main {
  padding-top: 50px;
}

table {
	width: 100%;
}

/* ---- top bar  ---- */
.top-bar-section ul li.active a {
  background: #2BA6CB; 
}

.top-bar-section li a:not(.button):hover {
  background: #2BA6CB;
}

.top-bar-section > ul > .divider {
  border-left: none;
}

/* ---- quick launch ---- */
.recent-search-container {
  background-color: #EEE;
  margin-top: 15px;
  padding: 0 15px 10px;
}

.recent-search-item {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #CCC;
}

.recent-search-item:last-child {
  border-bottom: none;
}

.recent-search-item .username,
.recent-search-item .report {
  margin: 0;
}

.recent-search-item .username {
  font-weight: bold;
}

.recent-search-item .report {
  font-size: 0.8em;
}

.recent-search-item button {
  position: absolute;
  right: 0;
  bottom: 10px;
  margin: 0;
}

/* upload log */
.log-container .user {
  font-weight: bold;
  text-transform: uppercase;
}

.log-container .date {
  font-size: 12px;
  color: #999;
  margin-top: 3px;
}

.log-container .upload-type-container {
  margin: 7px 0 10px;
}

.log-container .upload-type-container span:first-child   {
  font-size: 12px;
  text-transform: uppercase;
}

.log-container .upload-type {
  text-transform: uppercase;
  font-weight: bold;
}

.log-container .error {
  color: red;
  font-size: 14px;
}


/* ---- search form ---- */
.radio-button {
  display: inline-block;
}

.cto {
  bottom: 0;
  right: 0;
  margin-bottom: 0;
}

.inline-elements * {
  line-height: 1.6;
}

.inline-elements .subtitle {
  font-weight: bold;
}

.advanced-search hr {
  margin-top: 0;
}

.inline-elements input[type="text"] {
  display: inline-block;
  width: 75%;
}