/* variables */
$black: #000000;
$white: #FFFFFF;
$blue:  #0088CC;

/* common styles */
html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

legend {
  display: block;
  width: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.btn {
  cursor: pointer;
  transition: 0.2s;
}

.hidden {
  display: none;
}

/* header */
.navbar {
  line-height: 3rem;
  background: lighten($blue, 20%);
  border-bottom: 3px solid $blue;
  margin-bottom: 1em;
  color: $white;
  a {
    color: $white;
    text-decoration: none;
  }
}

/* dashboard */
.side-container {
  margin-bottom: 20px;
  background: lighten($black, 90%);

  .title {
    font-size: 1em;
    font-weight: normal;
    color: $white;
    background-color: lighten($black, 60%);
    padding-left: 10px;
    line-height: 40px;
  }
}

.quick-launch {
  .content {
    padding: 10px;
  }
}

.documents-list {
  .document {
    border-bottom: 1px solid lighten($black, 80%);
    line-height: 40px;
    a {
      display: block;
      padding: 0 10px;

      &:hover {
        color: lighten($black, 20%);
        background-color: lighten($black, 80%);
        text-decoration: none;
      }
    }
    &:last-child {
      border-bottom: none;
    }
  }
}

.main-form {
  .add-new-role {
    top: 0;
    right: 0;
    line-height: 40px;
    color: $white;
    padding: 0 10px;
    border-left: 1px solid darken($blue, 10%);
    text-decoration: none;
    &:hover {
      background-color: darken($blue, 10%);
    }
  }

  .form-container {
    margin-bottom: 20px;
  }

  legend {
    color: $white;
    background-color: $blue;
    line-height: 40px;
    padding-left: 10px;
    margin-bottom: 10px;
  }

  label {
    font-size: 11px;
  }

  .basic-group {
    &:not(:nth-child(2)) {
      border-top: 1px solid lighten($black, 80%);
      margin-bottom: 10px;
      padding-bottom: 10px;
    }
  }
  .item-form {
    padding: 5px 0;
    .label {
      font-size: 11px;
      width: 200px;
      display: inline-block;
      text-transform: uppercase;
    }
  }

  .advanced-search-button:hover {
    background-color: darken($blue, 10%);
  }
}