.hidden {
  display: none;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

hr {
  margin: 10px 0;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.margin-top-1em {
  margin-top: 1em !important;
}

.padding-top-10 {
  padding-top: 10px;
}

.text-uppercase {
  text-transform: uppercase;
}

h1 {
  font-size: 1.5em;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 0;
  padding-bottom: 0;
}

.top-bar {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.main {
  padding-top: 50px;
}

table {
	width: 100%;
}

/* ---- top bar  ---- */
.top-bar-section ul li a {
  text-transform: uppercase;
  font-size: 11px;
}

.top-bar-section li a:not(.button) {
  padding: 0 12px;
}

/*.top-bar-section ul li.active a {
  background: #2BA6CB; 
}

.top-bar-section li a:not(.button):hover {
  background: #2BA6CB;
}*/

.top-bar-section > ul > .divider {
  border-left: none;
}

/* ---- quick launch ---- */
.recent-search-container {
  background-color: #EEE;
  padding: 10px 15px;
}

.recent-search-container .title {
  font-size: 14px;
  text-transform: uppercase;
}

.recent-search-item {
  position: relative;
  margin-bottom: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #CCC;
}

.recent-search-item:last-child {
  border-bottom: none;
}

.recent-search-item .username,
.recent-search-item .report {
  margin: 0;
}

.recent-search-item .username {
  font-weight: bold;
}

.recent-search-item .report {
  font-size: 0.8em;
}

.recent-search-item .button {
  position: absolute;
  right: 0;
  bottom: 10px;
  margin: 0;
}

/* upload log */
.log-container .log-item {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #EEE;
}

.log-container .log-item:last-child {
  border-bottom: none;
}

.log-container .user {
  font-weight: bold;
  text-transform: uppercase;
}

.log-container .date {
  font-size: 12px;
  color: #999;
  margin-top: 3px;
}

.log-container .file-name,
.log-container .ticker-name {
  display: inline-block;
  font-size: 0.8em;
}

.log-container .file-name {
  text-transform: uppercase;
  font-weight: bold;
}

.log-container .ticker-name {
  text-transform: uppercase;
  padding-left: 5px;
  margin-left: 5px;
  border-left: 1px solid #EEE;
}

.log-container .file-type {
  margin: 10px 0 3px;
  text-transform: uppercase;
  font-weight: bold;
}

.log-container .no-bullet {
  margin-bottom: 0;
}

.log-container li {
  color: #CE0909;
  font-size: 14px;
  line-height: 1.5;
}


/* ---- search form ---- */
.radio-button label {
  display: inline-block;
}

.cto {
  bottom: 0;
  right: 0;
  margin-bottom: 0;
}

.inline-elements * {
  line-height: 1.6;
}

.inline-elements .subtitle {
  font-weight: bold;
}

.advanced-search hr {
  margin-top: 0;
}

.inline-elements input[type="text"] {
  display: inline-block;
  width: 75%;
}

/* ---- alert ---- */
.alert {
  position: fixed;
  bottom: 0;
  right: 20px;
  width: 250px;
  padding: 10px;
}

.alert .close {
  position: absolute;
  display: block;
  color: #FFF;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  cursor: pointer;
}

.alert.alert-error {
  background: #CE0909;
  color: #FFF;
}