<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">

  <Styles>
    <ss:Style ss:ID="1">
      <ss:Font ss:Bold="1"/>
      <ss:Alignment ss:Horizontal="Center"/>   
    </ss:Style>
    <ss:Style ss:ID="2">
      <ss:Alignment ss:Horizontal="Center"/>   
    </ss:Style>
  </Styles>
  <Worksheet ss:Name="company peers">
    <Table>
      <Column ss:Width="250"/>
      <Column ss:Width="150"/>
      <Column ss:Width="100"/>
      <Column ss:Width="100"/>
      <Row ss:StyleID="1">
        <Cell><Data ss:Type="String">User</Data></Cell>
        <Cell><Data ss:Type="String">Date</Data></Cell>        
        <Cell><Data ss:Type="String">File Type</Data></Cell>        
        <Cell><Data ss:Type="String">Ticker</Data></Cell>
      </Row>
    <% @logs.each do |log| %>
      <Row ss:StyleID="2">
        <Cell><Data ss:Type="String"><%= log.user.email %></Data></Cell>
        <Cell><Data ss:Type="String"><%= log.created_at %></Data></Cell>
        <Cell><Data ss:Type="String"><%= log.upload_type %></Data></Cell>
        <Cell>
          <Data ss:Type="String">
          <% unless log.detail_upload_files.blank? %>
            <%= log.detail_upload_files.first.ticker %>
          <% end %>
          </Data>
        </Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>