<div class="span3">
  <!-- quick launch -->
  <div class="side-container quick-launch">
    <h2 class="title">Quick Launch</h2>
    <div class="content">
      <%= form_tag('/groups') do %>
        <p>Select peer group</p>
          <%= select_tag :group, options_from_collection_for_select(Group.all, "id", "name") %>
        <p>Select report</p>
        <select>
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
        <a href="<%= new_group_path %>">Create new</a>
        <%= submit_tag "Select" %>
      <% end %>
    </div>
  </div>
  <!-- activity log -->
  <div class="side-container activity-log">
    <h2 class="title">Activity Log</h2>
    <div class="content">
      <ul class="documents-list">
        <li class="document"><a href="#">Document 01</a></li>
        <li class="document"><a href="#">Document 02</a></li>
        <li class="document"><a href="#">Document 03</a></li>
        <li class="document"><a href="#">Document 04</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="span9">
  <fieldset>
    <legend>Executive compensation</legend>
    <label>Role</label>
    <select>
      <option>Any role</option>
      <option>2</option>
      <option>3</option>
    </select>
    <button type="submit" class="btn">Search</button>
  </fieldset>
</div> 