<div class="span3">
  <!-- quick launch -->
  <div class="side-container quick-launch">
    <h2 class="title">Quick Launch</h2>
    <div class="content">
      <%= form_tag('/groups') do %>
        <p>Select peer group</p>
          <%= select_tag :group, options_from_collection_for_select(Group.all, "id", "name") %>
        <p>Select report</p>
        <select>
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
        <a href="<%= new_group_path %>">Create new</a>
        <%= submit_tag "Select" %>
      <% end %>
    </div>
  </div>
  <!-- activity log -->
  <div class="side-container activity-log">
    <h2 class="title">Activity Log</h2>
    <div class="content">
      <ul class="documents-list">
        <li class="document"><a href="#">Document 01</a></li>
        <li class="document"><a href="#">Document 02</a></li>
        <li class="document"><a href="#">Document 03</a></li>
        <li class="document"><a href="#">Document 04</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="span9">
  <form class="form-horizontal">
    <legend>Executive compensation</legend>
    <div class="basic-group">
      <div class="role-selector">
        <label>ROLE *</label>
        <select>
          <option>CEO</option>
          <option>CTO</option>
          <option>CFO</option>
        </select>
        <label>PAY RANK</label>
        <select>
          <option>CEO</option>
          <option>CTO</option>
          <option>CFO</option>
        </select>
      </div>
      <div class="filters">
        <!-- cash compensation -->
        <h3>cash compensation</h3>
        <select>
          <option>Salary</option>
          <option>Salary</option>
          <option>Salary</option>
        </select>
        <label>Less than ($)<input type="text"></label>
        <label>Greater than ($)<input type="text"></label>
        <!-- equity compensation -->
        <h3>equity compensation</h3>
        <select>
          <option>Salary</option>
          <option>Salary</option>
          <option>Salary</option>
        </select>
        <label>Less than ($)<input type="text"></label>
        <label>Greater than ($)<input type="text"></label>
        <!-- incentive plan compensation -->
        <h3>equity compensation</h3>
        <select>
          <option>Salary</option>
          <option>Salary</option>
          <option>Salary</option>
        </select>
        <label>Less than ($)<input type="text"></label>
        <label>Greater than ($)<input type="text"></label>
        <!-- equity holdings -->
        <h3>equity compensation</h3>
        <select>
          <option>Salary</option>
          <option>Salary</option>
          <option>Salary</option>
        </select>
        <label>Less than ($)<input type="text"></label>
        <label>Greater than ($)<input type="text"></label>
        <!-- compensation arrangements -->
        <h3>compensation arrangements</h3>
        <select>
          <option>Yes</option>
          <option>No</option>
          <option>N/A</option>
        </select>
        <!-- reload options -->
        <h3>compensation arrangements</h3>
        <select>
          <option>Yes</option>
          <option>No</option>
          <option>N/A</option>
        </select>
        <!-- CEO tenure -->
        <h3>CEO tenure</h3>
        <label>Less than (yrs)<input type="text"></label>
        <label>Greater than (yrs)<input type="text"></label>
        <!-- other criteria -->
        <h3>other criteria</h3>
        <label>Founder</label>
        <select>
          <option>Yes</option>
          <option>No</option>
          <option>N/A</option>
        </select>
        <label>Director</label>
        <select>
          <option>Yes</option>
          <option>No</option>
          <option>N/A</option>
        </select>
        <label>New hire</label>
        <select>
          <option>Yes</option>
          <option>No</option>
          <option>N/A</option>
        </select>
        <label>Transition period</label>
        <select>
          <option>Yes</option>
          <option>No</option>
          <option>N/A</option>
        </select>
      </div>
    </div>
    <button type="submit" class="btn">Search</button>
  </form>
</div> 