<div class="span8">
  <h1>Dashboard</h1>
    <fieldset>
      <legend>Executive compensation</legend>
      <label>Role</label>
      <select>
        <option>Any role</option>
        <option>2</option>
        <option>3</option>
      </select>
      <button type="submit" class="btn">Search</button>
    </fieldset>
</div>
<div class="span4">
 <div class="side-container">
  <h2>Quick Launch</h2>
  <%= form_tag('/groups') do %>
    <p>Select peer group</p>
      <%= select_tag :group, options_from_collection_for_select(Group.all, "id", "name") %>
    <p>Select report</p>
    <select>
      <option>1</option>
      <option>2</option>
      <option>3</option>
    </select>
    <a href="<%= new_group_path %>">Create new</a>
    <%= submit_tag "Select" %>
  <% end %>
 </div> 
</div>