<div id="error_explanation" class="form-error cf">
  <h2 class="left"><%= pluralize(errors.count, "error") %> prohibited this user from being saved:</h2>

  <ul class="left">
  <% errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>