<% results.each do |element| %>
  <div>
    <%= content_tag :div, "Filename: " + element.file_name %>
    <%= content_tag :div, "Ticker: " + element.ticker.ticker %>
    <ul class="no-bullet">
      <% JSON.parse(element['messages']).each do |message| %>
        <%= content_tag :li, message, class: 'error' %>
      <% end %>
    </ul>
  </div>
<% end %>