<% results.each do |element| %>
    <div>
      <%= content_tag :div, "Filename: " + element.file_name %>
      <%= content_tag :div, "Ticker: " + element.ticker.ticker %>
      <ul>
        <% JSON.parse(element['messages']).each do |message| %>
            <%= content_tag :li, message %>
        <% end %>
      </ul>
    </div>
<% end %>