<div class="row">
  <div class="large-12 columns">
    <img style="width: 100%" src="http://placehold.it/1088x300">
  </div>
</div>
<div class="row">
  <div class="large-4 columns">
    <p>Lorem ipsum Adipisicing mollit ea sed do magna pariatur est velit quis in quis esse magna consectetur reprehenderit proident minim do veniam pariatur et sunt dolore fugiat.</p>
  </div>
  <div class="large-4 columns">
    <p>Lorem ipsum Adipisicing mollit ea sed do magna pariatur est velit quis in quis esse magna consectetur reprehenderit proident minim do veniam pariatur et sunt dolore fugiat.</p>
  </div>
  <div class="large-4 columns">
    <p>Lorem ipsum Adipisicing mollit ea sed do magna pariatur est velit quis in quis esse magna consectetur reprehenderit proident minim do veniam pariatur et sunt dolore fugiat.</p>
  </div>
</div>
