@import helper._

<div>
    <a href="/companies">Home</a>
    <div>
        @form(action = routes.Application.newCompany, 'enctype -> "multipart/form-data") {
            <!--  -->
            <div>
                <p>Upload a single TOP5 data set</p>
            </div>
            <input type="file" name="dataset">
            <p>
                <input type="submit">
            </p>
        }
    </div>
    
    <div>
        @form(action = routes.Application.newExecGuideline, 'enctype -> "multipart/form-data") {
            <!--  -->
            <div>
                <p>Upload a single Exec Guidelines data set</p>
            </div>
            <input type="file" name="dataset">
            <p>
                <input type="submit">
            </p>
        }
    </div>
    
    <div>
        @form(action = routes.Application.newSVTBSDilution, 'enctype -> "multipart/form-data") {
            <!--  -->
            <div>
                <p>Upload a single Exec SVT BS Dilution data set</p>
            </div>
            <input type="file" name="dataset">
            <p>
                <input type="submit">
            </p>
        }
    </div>
    
    <div>
        @form(action = routes.Application.newCompanies, 'enctype -> "multipart/form-data") {
            <!--  -->
            <div>
                <p>Upload a zip file with TOP5 data sets</p>
            </div>
            <input type="file" name="dataset">
            <p>
                <input type="submit">
            </p>
        }
    </div>

</div>