@(companyForm: Form[(Seq[String],Int)], companyNames: Seq[(String,String)], companyYears: List[Int], action: Call)
@import helper._

@main("Search Companies") {
    
    <a href="/companies">Home</a>

    @form(action) {
        
        @for( ((cusip, ticker), index) <- companyNames.zip((0 to companyNames.size).map("checkMe[" + _.toString + "]")) ) {
           @checkbox(
            field = companyForm(index), 
            args = ('_label -> Messages(ticker)), ('value -> cusip))
        }
        
        @select(
            field = companyForm("Company Fiscal Year"),
            options = options(companyYears.map(_.toString)),
            args = '_label -> "Choose a range of Years"
        )
        
        <input type="submit" value="Search">
        
    }
    
    
}