<h1 class="main-title">Groups</h1>

<!-- create groups form -->
<%= render 'form' %>

<!-- admin groups table -->
<table class="table">
  <thead>
    <tr>
      <th>Group name</th>
      <th class="icon-column text-center">Edit</th>
      <th class="icon-column text-center">Remove</th>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td class="icon-column text-center"><%= link_to "<span data-icon='&#xe001;'></span>".html_safe, edit_group_path(group), class: 'btn-icon' %></td>
        <td class="icon-column text-center"><%= link_to "<span data-icon='&#xe000;'></span>".html_safe, group, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-icon' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
