<div class="row">
  <div class="large-12 columns">
    <h1 class="main-title">Groups</h1>
    <hr>
  </div>
  <div class="large-3 columns">
    <%= render 'form' %>
  </div>

  <div class="large-9 columns">
    <table>
      <thead>
        <tr>
          <th width="80%">Group name</th>
          <th width="10%">Edit</th>
          <th width="10%">Remove</th>
        </tr>
      </thead>
      <tbody>
        <% @groups.each do |group| %>
          <tr>
            <td><%= link_to group.name, group %></td>
            <td><%= link_to "<span data-icon='&#xe001;'></span>".html_safe, edit_group_path(group), class: 'btn-icon' %></td>
            <td><%= link_to "<span data-icon='&#xe000;'></span>".html_safe, group, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-icon' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
</div>