<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @group.name %>
</p>

<p>
  <b>Tickers:</b>
  <% @group.tickers.each{|t| %>
    <br/>
    <%= t.name %>
  <% } %>
</p>
<br/>
<%= link_to "Back", groups_path %>