@(companyForm: Form[(String,String)], companyNames: Seq[String], companyYears: Seq[String])
@import helper._

@main("Search Companies") {
    
    <a href="/companies">Home</a>
    @form(routes.Application.doSearch) {

         @select(
            field = companyForm("Company Name"),
            options = options(companyNames.toList),
            args = '_label -> "Choose a company"
        )
        
        @select(
            field = companyForm("Company Fiscal Year"),
            options = options(companyYears.toList),
            args = '_label -> "Choose a Year"
        )
        
        <input type="submit" value="Search">
        
    }
    
    
}