<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">

  <Styles>
    <ss:Style ss:ID="1">
      <ss:Font ss:Bold="1"/>
      <ss:Alignment ss:Horizontal="Center"/>   
    </ss:Style>
  </Styles>
  <Worksheet ss:Name="company peers">
    <Table>
      <Column ss:Width="250"/>
      <Column ss:Width="150"/>
      <Row ss:StyleID="1">
        <Cell><Data ss:Type="String">Company Name</Data></Cell>
        <Cell><Data ss:Type="String">Ticker</Data></Cell>
      </Row>
    <% @companies_peers.each do |peer| %>
      <Row>
        <Cell><Data ss:Type="String"><%= peer['companyName'] %></Data></Cell>
        <Cell><Data ss:Type="String"><%= peer['ticker']  %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>